<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head.ejs") %>
    <title>ADM List</title>
</head>

<body>
    <%- include("../../partials/admnavbar.ejs") %>

    <div class="container">
        <h2>ADM List</h2>
        <a href="/adm/create/adm" class="btn btn-info mt-4 ">Create New ADM</a>
        <table class="table table-bordered table-dark mt-3 fit-content  mr-auto align-center">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>

                <% adms.forEach(adm =>{ %>
                <tr>
                    <th><%= adm.id %></th>
                    <th><%= adm.username %></th>


                    <th class="d-flex">

                        <a href="/adm/edit/<%= adm.id %>" class="btn btn-warning">Edit</a>


                        <form action="/adm/delete" method="POST" class="d-alignCenter"
                            onsubmit="confirmeDelete(event, this)">
                            <input type="hidden" name="id" value="<%= adm.id  %>">
                            <button class="btn btn-danger ml-3">Delete</button>
                        </form>

                    </th>
                </tr>
                <%}) %>

            </tbody>
        </table>
    </div>

    <%- include("../../partials/script.ejs")%>
    <%- include("../../partials/admin.ejs")%>

</body>

</html>