<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/scans.css">
    <title>Overview <%= card.name %></title>
    <meta name="keywords" content="Chaotic, <%= card.name %>, Overview">
    <meta name="description" content="A quick overview of <%= card.name %>, is it good? where to use why use it?">
    <style>
        * {
            box-sizing: border-box;

        }

        #bannerAD1 {
	    display: none;
            width: 30%;
            max-width: 350px;
            max-height: 800px;

        }

        #bannerAD2 {
	    display: none;
            width: 80%;
            max-width: 800px;

        }

        #bannerAD1 *,
        #bannerAD2 * {
            max-width: 100%;

        }

        #listReview {
            display: flex;
            padding: 0;
        }

        #listReview>div {
            width: 20%;
            margin: 5% auto;
        }

        .container {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section1 {
            max-width: 260px;
            width: 40%;
        }

        .section2 {
            width: 65%;
            margin-left: 5%;
            overflow: auto;
	    border-radius: 8px;
	    border: 1px solid #000f0f;
        }
       .section2 .contentENG, .section2 .translation {
            padding: 10px;
   	    text-align: left;
        }
        }
        #bodyflex {
            display: flex;
        }

        .section1,
        .section2 {
            background-color: #fefefe;
            min-height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
	    margin-bottom: 10%;
        }

        .section1 *,
        .section2 * {
            max-width: 100%;
            text-align: center;
        }

        .star-rated,
        .y-rate {
            width: 20px;
            filter: grayscale(1);
        }







        #community-rate {
            padding: 0;
        }

        #user-rate {
            max-width: 600px;
            width: 100%;
            margin: auto;
            text-align: center;
            text-transform: uppercase;
            background-color: #fefefe;
	    border: 1px solid #000;
            border-radius: 8px;
        }

        .alert-info {
            max-width: 80%;
            text-align: center;
        }

        @media (max-width:600px) {

            .section1 *,
            .section2 * {
                font-size: unset;
            }
	    .section1,
            .section2 {
                width:100%
            }

            .section2 {
               margin-left: auto;
            }

            #bodyflex {
                display: block;
            }

            #bannerAD1,
            #bannerAD2 {
                width: 100%;
                max-width: 100%;
            }
            .container{
                flex-direction: column;
            }
            #user-rate p {
                font-size: 10pt;
            }
        }
    </style>
<script data-ad-client="ca-pub-7881299881636813" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <% if(login == false){ %>
    <%- include("navbar.ejs") %>
    <%  }else{ %>
    <%- include("navbarlogin.ejs") %>
    <%  } %>



    <div id="bodyflex">
        <div class="container mt-1">
            <section class="section1 mt-1">
                <h3 id="cardName"><%= card.name %></h3>
                <img src="<%= card.url %>" alt="<%= card.name %>" id="cardID" title="<%= card.id%>"
                    name="<%= card.name %>">
                <p class="contentENG mt-3"><%= card.body %></p>
                <p class="translation mt-3"><%= card.bodybr %></p>
                <div>
                    <h5>Community Rated:</h5>
                    <ul id=community-rate>
                        <img src="/img/star.png" class="star-rated" alt="">
                        <img src="/img/star.png" class="star-rated" alt="">
                        <img src="/img/star.png" class="star-rated" alt="">
                        <img src="/img/star.png" class="star-rated" alt="">
                        <img src="/img/star.png" class="star-rated" alt="">
                    </ul>
                    <p id="rated"></p>
                </div>

            </section>
            <section class="section2 mt-1">
                <div class="contentENG">
                    <%- overview.body %>
                </div>
                <div class="translation">
                    <%- overview.bodybr %>
                </div>

            </section>
        </div>
        <div id="bannerAD1" class="mt-auto mb-auto">
            <h3>akd</h3>
        </div>

    </div>
    <div id="user-rate">
        <h6 class="contentENG mt-2">What do you think of this card?</h6>
        <h6 class="translation mt-2">Oque vc acha dessa carta?</h6>
        <ul id="listReview">
            <div>
                <img src="/img/star.png" class="y-rate" alt="">
                <p class="contentENG">useless</p>
                <p class="translation">inútil</p>
            </div>

            <div>
                <img src="/img/star.png" class="y-rate" alt="">
                <p class="contentENG">meme</p>
                <p class="translation">meme</p>
            </div>

            <div>
                <img src="/img/star.png" class="y-rate" alt="">
                <p class="contentENG">good</p>
                <p class="translation">boa</p>
            </div>

            <div>
                <img src="/img/star.png" class="y-rate" alt="">
                <p class="contentENG">nice</p>
                <p class="translation">ótima</p>
            </div>

            <div>
                <img src="/img/star.png" class="y-rate" alt="">
                <p class="contentENG">broken</p>
                <p class="translation">quebrada</p>
            </div>

        </ul>
    </div>
    <div id="bannerAD2" class="ml-auto mr-auto mt-3">
        <h1>soidjaoidjaio</h1>
    </div>
    <div class="d-none" id="rate">
        <%= rate %>
    </div>
   
    <%- include("footer.ejs") %>














    <%- include("script.ejs") %>
    <script>
        let cardName = document.getElementById("cardName").innerText;
        let voted;
        const communityRate = document.getElementById("rated");
        const card_id = document.getElementById("cardID").title;
        const rate = document.getElementById("rate").innerText;
        const JSON_rate = JSON.parse(rate);
        const ArrayRate = [...JSON_rate.rows];
        var rateNote = ArrayRate.map(data => Number(data.note));

        if (rateNote.length <= 0) {
            rateNote = [0];
        }
        var rateAverage = rateNote.reduce((acc, num) => acc + num) / JSON_rate.count;
        if (isNaN(rateAverage)) {
            rateAverage = 0;
        }
        let stars = document.querySelectorAll(".star-rated");
        let vote = localStorage.getItem("vote");
        let arrayStars = [...stars]


        communityRate.innerText = `ratings: ${JSON_rate.count}`;

        arrayStars.forEach(star => {
            let index = arrayStars.indexOf(star)

            let note = arrayStars[index]

            if (rateAverage < 1) {
                if (index < 1) {
                    note.style.filter = "grayscale(0)";
                }

            } else if (rateAverage < 2) {
                if (index < 2) {
                    note.style.filter = "grayscale(0)";
                }
            } else if (rateAverage < 3) {
                if (index < 3) {
                    note.style.filter = "grayscale(0)";
                }
            } else if (rateAverage < 4) {
                if (index < 4) {
                    note.style.filter = "grayscale(0)";
                }
            } else {
                note.style.filter = "grayscale(0)";
            }

        })

        if (!vote) {
            vote = localStorage.setItem("vote", JSON.stringify({ vote: [{ cardName: '', note: 0 }] }))
            voted = JSON.parse(localStorage.getItem("vote"));
        } else {
            voted = JSON.parse(vote);
        }

        let votedCard = [...voted.vote];
        let votedCardFilter = votedCard.filter(vote => vote.cardName == cardName);
        let yRate = document.querySelectorAll(".y-rate");
        let arrayYRate = new Array(...yRate);
        arrayYRate.forEach(star => {

            if (votedCardFilter.length <= 0) {

                star.addEventListener("mouseenter", function mouseEnter() {
                    this.style.filter = " grayscale(0)";
                    for (let i = 0; i < arrayYRate.length; i++) {
                        if (i <= arrayYRate.indexOf(star)) {
                            arrayYRate[i].style.filter = "grayscale(0)";
                        }
                    }
                });
                star.addEventListener("mouseout", function mouseOut() {
                    this.style.filter = " grayscale(1)";
                    for (let i = 0; i < arrayYRate.length; i++) {
                        if (i <= arrayYRate.indexOf(star)) {
                            arrayYRate[i].style.filter = "grayscale(1)";
                        }
                    }
                });
                star.addEventListener("click", function mouseClick() {
                    for (let i = 0; i < arrayYRate.length; i++) {
                        if (i <= arrayYRate.indexOf(star)) {
                            arrayYRate[i].style.filter = "grayscale(0)";
                        }
                    }
                    voted.vote.push({
                        cardName: cardName,
                        note: arrayYRate.indexOf(star)
                    });
                    localStorage.setItem("vote", JSON.stringify(voted))

                    try {
                        arrayYRate[i].removeEventListener("mouseenter", mouseEnter);
                        arrayYRate[i].removeEventListener("mouseout", mouseOut);
                        arrayYRate[i].removeEventListener("click", mouseClick);
                    } catch (error) {

                    }

                    let note = arrayYRate.indexOf(star)
                    let formData = new FormData();
                    let ajax;

                    formData['cardId'] = card_id;
                    formData['note'] = note;
                    if (window.XMLHttpRequest) {
                        ajax = new XMLHttpRequest();
                    } else {
                        ajax = new ActiveXObject();
                    };
                    ajax.onreadystatechange = function () {
                        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {


                            location.reload();
                        }
                    }
                    ajax.open('POST', '/overview-rate');
                    ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    ajax.send(`note=${formData.note}&cardId=${formData.cardId}`);

                });
            } else {
                // ajax com as avaliações aqui 
                for (let i = 0; i < arrayYRate.length; i++) {


                    if (i <= Number(votedCardFilter[0].note)) {
                        arrayYRate[i].style.filter = "grayscale(0)";
                    }

                }
            }

        })


    </script>

</body>

</html>
