<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head.ejs") %>
    <title>Edit Card</title>
</head>

<body onload="myFunction()">

    <%- include("../../partials/admnavbar.ejs") %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Edit Card</h1>
            </div>

            <div class="card-body mt-3">
                <form action="/adm/card/edit-save" method="post">
                    <h3> Edit Card </h3>

                    <label class="mt-5"> Card Name </label>
                    <input type="text" name="name" class="form-control mt-1" value="<%= card.name %>">

                    <label class="mt-5"> Card FullArt </label>
                    <input type="text" name="fullArt" class="form-control mt-1" value="<%= card.fullart %>">

                    <label class="mt-5"> Card Scan Art </label>
                    <input type="text" name="scanArt" class="form-control mt-1" value="<%= card.scan %>">

                    <label> Text Card</label>
                    <textarea name="body" class="form-control mt-1 article"><%= card.body %></textarea>

                    <label class="mt-1"> URL</label>
                    <input type="text" class="form-control mt-1" name="url" value="<%= card.url %>">

                    <label> Text Card BR</label>
                    <textarea name="bodybr" class="form-control mt-1 article"><%- card.bodybr %></textarea>
                    <input type="hidden" id="arrId" name="arrId" value="">

                    <input type="hidden" name="id" value="<%= card.id %>">

                    <% cardtype.forEach(cardtype =>{ %>
                    <button type="button" id="<%= cardtype.id %>" value="<%= cardtype.title %>"
                        class="btn  btn-primary btn-undisable" onclick="addpush(this)"><%= cardtype.title %></button>
                    <%  }) %>

                    <label>
                        Current CardTypes
                    </label>
                    <select name="" id="selected" size="1">
                        <% searchId.forEach(type => { var valor = cardtype.filter(cardtyoe => cardtyoe.id == type.cardtype_id ) %>
                        <option value="<%= type.cardtype_id %>"><%= valor[0].title %></option>
                        <% }) %>

                    </select>
                    <button class="btn btn-warning mt-1" type="button" onclick="removecategory()">remove</button>


                    <button class="btn btn-primary mt-5" type="submit">Create</button>

                </form>
            </div>


        </div>
    </div>














    <%  searchId.forEach(searchid =>{ %>
    <input type="hidden" class="externalids" value="<%= searchid.cardtype_id %>">

    <%  }) %>


    <%- include("../../partials/script.ejs") %>
    <%- include("../../partials/admin.ejs") %>
    <script>
        //limpar essa sujeira aqui
        var arry = [];//arry vazia para dar punsh
        var undisable = document.getElementsByClassName("btn-undisable");
        var select = document.getElementById("selected");



        function myFunction() {
            let externalId = document.querySelectorAll(".externalids");
            externalId.forEach(id => {
                arry.push(id.value)
                convertJSON();
            })



        }

        function addpush(value) {

            value.disabled = true;
            select.innerHTML += `<option value="${value.id}" >${value.value}</option>`;

            var size = document.getElementById("selected").size = arry.length + 1;

            arry.push(value.id);
            convertJSON();
        };

        function removecategory() {
            let removing = document.getElementById("selected");


            for (i = 0; i < arry.length; i++) {
                if (arry[i] == removing.value) {
                    valueUndisable = arry[i];
                    for (e = 0; e < undisable.length; e++) {
                        if (undisable[e].id == valueUndisable) {
                            undisable[e].disabled = false
                        }
                    }
                    arry.splice(i, 1)
                }
            }

            removing.remove(removing.selectedIndex);



            convertJSON();
        };

        function convertJSON() {
            var arrConvert = JSON.stringify(arry);
            console.log(arrConvert);
            var arrIds = document.getElementById("arrId").value = arrConvert;
            console.log(arrIds);
        };

    </script>
</body>


</html>
