<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head.ejs") %>
    <title>Card List</title>
</head>

<body>
    <%- include("../../partials/admnavbar.ejs") %>

    <div class="container">
        <h1><%= card.id %></h1>
        <h2>Card List</h2>
        <a href="/adm/card/create" class="btn btn-info mt-4 ">Create New Cards</a>
        <table class="table table-bordered table-dark mt-3 fit-content  mr-auto align-center">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        URL
                    </th>
                    <th>
                        BODY
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>

                <% card.forEach(cards =>{ %>
                <tr>
                    <th><%= cards.id %></th>
                    <th><%= cards.name %></th>
                    <th><%= cards.url %></th>
                    <th><%= cards.body %></th>
                    <th class="d-flex">

                        <a href="/adm/card/edit/<%= cards.id %>" class="btn btn-warning">Edit</a>

                        <a href="/adm/card/info/<%= cards.id %>" class="btn btn-warning ml-3">Info</a>
                        <form action="/adm/card/delete" method="POST" class="d-alignCenter"
                            onsubmit="confirmeDelete(event, this)">
                            <input type="hidden" name="id" value="<%= cards.id  %>">
                            <button class="btn btn-danger ml-3">Delete</button>
                        </form>

                    </th>
                </tr>
                <%}) %>

            </tbody>
        </table>
    </div>

    <%- include("../../partials/script.ejs")%>
    <%- include("../../partials/admin.ejs")%>

</body>

</html>