<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head.ejs") %>
    <title>New Article</title>
</head>

<body>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Edit Article</h1>
            </div>
            <div class="card-body mt-3">
                <form action="/adm/article/edit/save" method="post">
                    <label>Article</label>
                    <input type="hidden" name="id" value="<%= article.id %>">
                    <input class="form-control mt-2" type="text" name="title" value="<%= article.title %>">
                    <textarea class="form-control mt-1 article" name="body"><%= article.body %></textarea>
                    <input class="form-control mt-2" type="text" name="url" value="<%= article.url">
                    <label class="mt-3">Artigo BR</label class>
                    <input class="form-control mt-2" type="text" name="titlebr" value="<%= article.titlebr %>">
                    <textarea class="form-control mt-1 article" name="bodybr"><%= article.bodybr %></textarea>
                    <label class="mt-1"> Category</label>
                    <select name="category" class="form-control mt-1 mb-1 fit-content" id="">
                        <% category.forEach( (category) =>{ %>
                        <% if(category.id == article.categoryId){ %>
                        <option value="<%= category.id %>" selected> <%= category.title%> </option>
                        <% }else{ %>
                        <option value="<%= category.id %>"> <%= category.title%> </option>
                        <% } %>

                        <%}) %>
                    </select>
                    <button class="btn btn-success mt-3">Update</button>
                </form>
            </div>
        </div>


    </div>


    <%- include("../../partials/footer.ejs") %>
    <%- include("../../partials/script.ejs") %>
    <%- include("../../partials/tiny.ejs") %>
    <%- include("../../partials/admin.ejs") %>
</body>

</html>