<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head.ejs") %>
    <title>All Guides</title>
</head>

<body>
    <%- include("../../partials/navbar.ejs") %>


    <div class="container  mt-5 ">
        <h1 class="mr-auto ml-auto ">Guides</h1>



        <div class="card">
            <div class="card-header">
                <h5 class="card-title">How to play Chaotic?</h5>
            </div>
            <div class="card-body mt-3">
                <article>

                    <p class="card-text">I am currently building some friendly guides for beginners. however, the
                        community has already done an incredible job of preserving the Chaotic rule book. <a
                            href="https://www.yumpu.com/en/document/read/11746153/pdf-rule-book-chaotic-trading-card-game">here</a>.
                        I hope it helps you until I finish a friendly version.</p>
                </article>
            </div>

        </div>


        <% result.article.rows.forEach(article =>{ %>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><%= article.title %></h5>
            </div>
            <div class="card-body mt-3">
                <article>

                    <p class="card-text"><%- article.body %></p>
                </article>
            </div>
            <div class="card-footer mt-1">
                <a href="/article/<%= article.slug %>">view more</a>
            </div>
        </div>

        <% }) %>





    </div>

    <div class="container mt-5 mb-auto">
        <div class=" mt-1 d-flex ">

            <div class="col col-4">
                <% if(result.page == 0){ %>

                <% }else{ %>
                <a href="/article/page/<%= result.page - 1 %>" class="btn btn-primary text-align-start"> Back</a>
                <% } %>

            </div>
            <div class=" col col-4 d-flex ">
                <% if(result.page == 0){ %>
                <a href="/" class="mr-2">Home</a>
                <% }else { %>
                <a href="/article/page/0" class="mr-2">Inicio</a>
                <% } %>
                <% for (i = result.page - 4; i != result.page; i++) {
                
                if ( i > 0) { %>

                <a class=" mr-1" href="/article/page/<%= i %>"><%= i + 1 %></a>
                <% }else{ %>

                <%  } } %>


                <% for (i = 0; i <= result.pageNum; i++) {
               
               if (i + result.page >= result.pageNum) { %>

                <% } else if (i > 4 ) { %>

                <% }
                else { %>

                <a class=" mr-1" href="/article/page/<%= i + result.page  %>"><%= i + result.page +1 %></a>
                <% }
            
            } %>
                <p class="mr-1">...</p>
                <%  for (i = 0; i <= result.pageNum; i++) {
                if (i = result.pageNum) { %>

                <a href="/article/page/<%= parseInt(i) %>"><%= parseInt(i + 1) %></a>
                <% }
            
            } %>




            </div>
            <div class="col col-4 text-align-end">
                <% if(result.next){ %>
                <a href="/article/page/<%= result.page + 1 %>" class="btn btn-primary text-align-end mr-0">Next</a>
                <% } %>
            </div>



        </div>

        <hr>

    </div>

    <%- include("../../partials/footer.ejs") %>














    <%- include("../../partials/script.ejs") %>
</body>

</html>