<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <title>All Scans</title>
    <style>
        h6 {
            text-decoration-line: underline;
        }

        h1 {
            text-decoration-line: underline;
        }
    </style>
</head>

<body>
    <%- include("../partials/navbarlogin.ejs") %>


    <div class="container container-collections mt-auto mb-auto">
        <div class="alert alert-danger mt-4 contentENG" role="alert">
            All card statistics are average and do not represent true the real cards stats. visit <a
                href="https://chaotic.fandom.com/wiki/Category:Cards">chaotic-fandom</a>
            to see a card's min-max stats.
        </div>
        <div class="alert alert-danger mt-2 contentENG" id="alert1" role="alert">
            If empty your card list, let's <a href="/perim/scan/0">Go To Perim</a> scan some cards!
        </div>

        <div class="alert alert-danger mt-4 translation" role="alert">
            Todas as estatisticas das cartas são uma média e não representão as estatisticas reais das cartas. visite <a
                href="https://chaotic.fandom.com/wiki/Category:Cards">chaotic-fandom</a>
            para ver o min-max estatus de uma carta.
        </div>
        <div class="alert alert-danger mt-2 translation" id="alert3" role="alert">
            Se sua coleção de scans esta vazia, let's <a href="/perim/scan/0">Go To Perim</a> scanear algumas cartas!
        </div>
        <h1 class="mr-auto ml-auto mt-4 fit-content">Scans</h1>
        <div id="collection">
            <% cards.forEach(card =>{
for(i= 0;i <  cardlist.length;i++){
    if(card.id == cardlist[i]){ %>
            <div id="<%= card.id %>">

                <h6> <a href="/card-overview/<%=card.id%>"> <%= card.name %></a> </h6>
                <img src="<%= card.url %>" class="cardsInCollection" alt="">
                <button type="button" onclick=" deleteAJAX(this)" value="<%= card.id %>">delete
                </button>
            </div>

            <%  }else{}}}) %>
        </div>




    </div>



    <%- include("../partials/footer.ejs") %>











    <p id="userID" class="d-none"> <%= login.id %></p>
    <script>
        let localData = document.getElementById('userID');
        let cardsInCollection = document.querySelectorAll(".cardsInCollection");
        localStorage.setItem("userID", localData.textContent);
        function deleteAJAX(event) {
            var ajax;
            let userId = localStorage.getItem("userID");
            let cardId = event.value;
            let formData = new FormData();

            formData['userId'] = userId;
            formData['cardId'] = cardId;

            if (window.XMLHttpRequest) {
                ajax = new XMLHttpRequest();
            } else {
                ajax = new ActiveXObject();
            };

            ajax.onreadystatechange = function () { // Chama a função quando o estado mudar.
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    // Requisição finalizada. Faça o processamento aqui.
                    console.log(this.status);
                    console.log(ajax.response)
                    removeScanOfList(cardId)
                }
            }

            ajax.open('DELETE', '/userscan');
            ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            ajax.send(`userId=${formData.userId}&cardId=${formData.cardId}`);
            let target = document.getElementById(`${cardId}`);
            target.remove();

        }
        var scans = localStorage.getItem("scans");
        if (!scans) {
            localStorage.setItem("scans", JSON.stringify({ scan: [] }))
            scans = localStorage.getItem("scans");
        }
        const scansJson = JSON.parse(scans);
        const scansArray = [...scansJson.scan];
        function removeScanOfList(id) {

            let index = scansArray.indexOf(id);

            scansArray.splice(index, 1);

            let newlocal = localStorage.setItem("scans", JSON.stringify({ scan: scansArray }));
            console.log(index)
        }

    </script>

    <%- include("../partials/script.ejs") %>
    <script>
        if (cardsInCollection.length > 0) {
            document.getElementById("alert1").style.display = "none"
        }
        if (cardsInCollection.length > 0) {
            document.getElementById("alert3").style.display = "none"
        }


    </script>
</body>

</html>