<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/scans.css">
    <title>Perim Scans</title>
    <style>
        h6 {
            text-decoration-line: underline;
        }

        h1 {
            text-decoration-line: underline;
        }
    </style>
</head>

<body>
    <%- include("../partials/navbarlogin.ejs") %>


    <div class="container container-collections mt-auto mb-auto">
        <div class="alert alert-danger mt-4 contentENG" role="alert">
            All card statistics are average and do not represent true the real cards stats. visit <a
                href="https://chaotic.fandom.com/wiki/Category:Cards">chaotic-fandom</a>
            to see a card's min-max stats.
        </div>
        <div class="alert alert-danger mt-4 translation" role="alert">
            Todas as estatisticas das cartas são uma média e não representão as estatisticas reais das cartas. visite <a
                href="https://chaotic.fandom.com/wiki/Category:Cards">chaotic-fandom</a>
            para ver o min-max estatus de uma carta.
        </div>
        <div id="scans">
            <% result.cards.rows.forEach(card =>{ %>
            <div class="scans-perim">

                <h6> <a href="/card-overview/<%=card.id%>"> <%= card.name %></a> </h6>
                <img src="<%= card.scan %>"> </img>



                <button type="button" class="mt-2 scanned" onclick="sendAJAX(this)" value="<%= card.id %>">QUICK SCAN
                </button>

            </div>

            <%  }) %>
        </div>




        <div class="mt-5 mb-auto">
            <hr>
            <div class=" mt-1 d-flex ">

                <div class="col col-4">
                    <% if(result.page == 0){ %>

                    <% }else{ %>
                    <a href="/perim/scan/<%= result.page - 1 %>" class="btn btn-primary text-align-start"> Back</a>
                    <% } %>

                </div>
                <div class=" col col-4 d-flex ">
                    <% if(result.page == 0){ %>
                    <a href="/scans-collection" class="mr-2">Scans</a>
                    <% }else { %>
                    <a href="/perim/scan/0" class="mr-2">1</a>
                    <% } %>
                    <% for (i = result.page - 4; i != result.page; i++) {
        
        if ( i > 0) { %>

                    <a class=" mr-1" href="/perim/scan/<%= i %>"><%= i + 1 %></a>
                    <% }else{ %>

                    <%  } } %>


                    <% for (i = 0; i <= result.pageNum; i++) {
       
       if (i + result.page >= result.pageNum) { %>

                    <% } else if (i > 4 ) { %>

                    <% }
                else { %>

                    <a class=" mr-1" href="/perim/scan/<%= i + result.page  %>"><%= i + result.page +1 %></a>
                    <% }

                } %>
                    <p class="mr-1">...</p>
                    <%  for (i = 0; i <= result.pageNum; i++) {
        if (i = result.pageNum) { %>

                    <a href="/perim/scan/<%= parseInt(i) %>"><%= parseInt(i + 1) %></a>
                    <% }

                } %>




                </div>
                <div class="col col-4 text-align-end">
                    <% if(result.next){ %>
                    <a href="/perim/scan/<%= result.page + 1 %>" class="btn btn-primary text-align-end mr-0">Next</a>
                    <% } %>
                </div>



            </div>

            <hr>

        </div>



    </div>



    <%- include("../partials/footer.ejs") %>














    <%- include("../partials/script.ejs") %>
    <script>

        const scanned = document.querySelectorAll(".scanned");
        var scans = localStorage.getItem("scans");
        if (!scans) {
            localStorage.setItem("scans", JSON.stringify({ scan: [] }))
            scans = localStorage.getItem("scans");
        }
        const scansJson = JSON.parse(scans);
        const scansArray = [...scansJson.scan];
        scanned.forEach(scan => {
            let filter = scansArray.filter(value => value === scan.value);
            if (filter.length > 0) {

                scan.disabled = true;
                scan.style.color = "#fefefe";
                scan.style.background = "#474f49";
            } else {

            }
        });
        function scanneds(value) {
            scansArray.push(value);
            localStorage.setItem("scans", JSON.stringify({ scan: scansArray }));
        }
        function sendAJAX(event) {
            let userId = localStorage.getItem("userID");
            let cardId = event.value;
            let formData = new FormData();
            var ajax;
            event.disabled = true;
            event.style.color = "#fefefe";
            event.style.background = "#474f49";

            formData['userId'] = userId;
            formData['cardId'] = cardId;
            if (window.XMLHttpRequest) {
                ajax = new XMLHttpRequest();
            } else {
                ajax = new ActiveXObject();
            };
            ajax.onreadystatechange = function () { // Chama a função quando o estado mudar.
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    // Requisição finalizada. Faça o processamento aqui.
                    console.log(this.status);
                    console.log(ajax.response);
                    scanneds(cardId);
                }
            }
            ajax.open('POST', '/userscan');
            ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            ajax.send(`userId=${formData.userId}&cardId=${formData.cardId}`);
        }


    </script>
</body>

</html>