<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head.ejs") %>
    <title>Category List</title>
</head>

<body>
    <div class="container">
        <h2>Category List</h2>
        <a href="/adm/create/categories" class="btn btn-info mt-4 ml-auto mr-auto">Create New Category</a>
        <table class="table table-bordered table-dark mt-3">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Titlebr
                    </th>
                    <th>
                        Slug
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>

                <% category.forEach(category =>{ %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.titlebr %></th>
                    <th><%= category.slug %></th>

                    <th class="d-flex">

                        <a href="/adm/create/category/edit/<%= category.id %>" class="btn btn-warning">Edit</a
                            class="btn btn-warning">


                        <form action="/adm/category/delete" method="POST" class="d-alignCenter"
                            onsubmit="confirmeDelete(event, this)">
                            <input type="hidden" name="id" value="<%= category.id  %>">
                            <button class="btn btn-danger ml-3">Delete</button class="btn btn-warning">
                        </form>

                    </th>
                </tr>
                <%}) %>

            </tbody>
        </table>
    </div>

    <%- include("../../partials/script.ejs")%>
    <%- include("../../partials/admin.ejs")%>

</body>

</html>