<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head.ejs") %>
    <title>Overview List</title>
</head>

<body>
    <%- include("../../partials/admnavbar.ejs") %>
    <div class="container">
        <h2>Overview List</h2>
        <a href="/adm/overview/create" class="btn btn-info mt-4 ml-auto mr-auto">Create New Overview</a>
        <table class="table table-bordered table-dark mt-3">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        CardID
                    </th>
                    <th>
                        Card
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>

                <% Overviews.forEach(Overview =>{ %>
                <tr>
                    <th><%= Overview.id %></th>
                    <th><%= Overview.card_id %></th>
                    <th><%= cards[Overview.card_id -1].name %></th>
                    <th class="d-flex">

                        <a href="/adm/Overview/edit/<%= Overview.id %>" class="btn btn-warning">Edit</a
                            class="btn btn-warning">


                        <form action="/adm/Overview/delete" method="POST" class="d-alignCenter"
                            onsubmit="confirmeDelete(event, this)">
                            <input type="hidden" name="id" value="<%= Overview.id  %>">
                            <button class="btn btn-danger ml-3">Delete</button class="btn btn-warning">
                        </form>

                    </th>
                </tr>
                <%}) %>

            </tbody>
        </table>
    </div>

    <%- include("../../partials/script.ejs")%>
    <%- include("../../partials/admin.ejs")%>

</body>

</html>